In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text

In [2]:
database_name = 'scooters'    

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
query = '''
SELECT *
FROM trips
WHERE tripduration < 1;
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [6]:
with engine.connect() as connection:    
    trips_below1min = pd.read_sql(text(query), con = connection)

In [10]:
trips_below1min.tripduration.describe()

count    9154.000000
mean        0.268305
std         0.435012
min       -19.358267
25%         0.000000
50%         0.000000
75%         0.555138
max         0.999650
Name: tripduration, dtype: float64

In [14]:
trips_below1min.tripduration.min()

-19.3582666667

In [19]:
trips_below1min.tripduration.sort_values().head(10)

3864   -19.358267
3863   -10.975100
3794   -10.242417
1565    -8.003717
3797    -4.618833
1504    -1.359867
3799    -0.715917
3795    -0.501317
4487     0.000000
4486     0.000000
Name: tripduration, dtype: float64

In [31]:
trips_below1min.sort_values('tripduration').head(8)

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
3864,2019-07-19 00:14:02.297,Lyft,LFT21,Powered853770,-19.358267,4540.68256,2019-07-19,00:09:04.506666,2019-07-18,23:49:43.013333,36.15505,-86.78482,36.14690,-86.79355,"[(36.15505, -86.78482), (36.15511, -86.78482),...",2019-07-20 10:52:39.737
3863,2019-07-19 00:12:05.363,Lyft,LFT18,Powered863342,-10.975100,3641.73240,2019-07-19,00:00:24.016666,2019-07-18,23:49:25.513333,36.15694,-86.78104,36.16305,-86.77605,"[(36.15694, -86.78104), (36.1571, -86.78111), ...",2019-07-20 10:52:39.657
3794,2019-07-19 00:01:24.063,Lyft,LFT2,Powered859498,-10.242417,52.49344,2019-07-18,23:59:35.683333,2019-07-18,23:49:21.136666,36.15163,-86.78418,36.15172,-86.78408,"[(36.15163, -86.78418), (36.15167, -86.78413),...",2019-07-20 10:52:39.020
1565,2019-06-21 21:44:53.863,Lyft,LFT1318,Powered220544,-8.003717,3484.25208,2019-06-21,21:32:09.170000,2019-06-21,21:24:08.946666,36.15561,-86.77505,36.15536,-86.77508,"[(36.15561, -86.77505), (36.15565, -86.77509),...",2019-06-22 08:31:51.090
3797,2019-07-19 00:07:18.803,Lyft,LFT10,Powered767853,-4.618833,3061.02372,2019-07-18,23:53:53.926666,2019-07-18,23:49:16.796666,36.15155,-86.78407,36.15354,-86.77790,"[(36.15155, -86.78407), (36.15153, -86.78401),...",2019-07-20 10:52:39.343
1504,2019-06-21 22:35:30.390,Lyft,LFT1435,Powered041891,-1.359867,3166.01060,2019-06-21,22:23:01.316666,2019-06-21,22:21:39.726666,36.16213,-86.77958,36.16020,-86.77283,"[(36.16213, -86.77958), (36.16206, -86.77953),...",2019-06-22 08:31:56.090
3799,2019-07-18 23:56:13.233,Lyft,LFT864,Powered863342,-0.715917,2214.56700,2019-07-18,23:50:34.650000,2019-07-18,23:49:51.693333,36.15997,-86.77659,36.15690,-86.78102,"[(36.15997, -86.77659), (36.15994, -86.77653),...",2019-07-19 10:49:30.810
3795,2019-07-19 00:06:02.050,Lyft,LFT7,Powered895717,-0.501317,3799.21272,2019-07-18,23:49:45.476666,2019-07-18,23:49:15.396666,36.16305,-86.78455,36.15792,-86.78894,"[(36.16305, -86.78455), (36.16301, -86.78467),...",2019-07-20 10:52:39.223

In [35]:
trips_below1min.groupby('companyname').count()

,pubtimestamp,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
companyname,,,,,,,,,,,,,,,
Bird,3963,3963,3963,3963,3963,3963,3963,3963,3963,3963,3963,3963,3963,3963,3963
Lime,661,661,661,661,661,661,661,661,661,661,661,661,661,661,661
Lyft,4530,4530,4530,4530,4530,4530,4530,4530,4530,4530,4530,4530,4530,4530,4530

There are 9154 trips below one minute that have a mean of ~.3 minutes. There are 8 trips with negative tripduration values which all have positive trip distances.

In [20]:
query = '''
SELECT *
FROM trips
WHERE tripduration > 1440;
'''

with engine.connect() as connection: result = connection.execute(text(query))

In [21]:
with engine.connect() as connection:    
    trips_over24hours = pd.read_sql(text(query), con = connection)

In [23]:
trips_over24hours.tripduration.describe()

count      6938.000000
mean       3066.934183
std        7440.833369
min        1441.000000
25%        1794.250000
50%        2345.500000
75%        3340.500000
max      512619.000000
Name: tripduration, dtype: float64

In [25]:
trips_over24hours.tripduration.sort_values(ascending = False).head(10)

3499    512619.0
3446    257790.0
3215     93837.0
3470     92977.0
3329     78802.0
3167     64311.0
2527     62717.0
2526     62066.0
3086     59482.0
3628     56793.0
Name: tripduration, dtype: float64

In [28]:
trips_over24hours[trips_over24hours.tripduration == trips_over24hours.tripduration.max()]

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
3499,2019-07-16 21:26:59,Bolt Mobility,BOL00198,Powered-2763482f-d784-4797-7cf9-59346940451d,512619.0,95505.25,2019-07-10,23:01:13,2019-07-16,21:24:52,36.15428,-86.787008,36.149143,-86.788575,"[('36.154280', '-86.787008'), ('36.154212', '-...",2019-07-17 06:23:59.217

There are 6938 trips over 24 hours that have a mean of 3067 minutes (51 hours). The maximum tripduration is 512,619 minutes (~1 year) which is likely an error since the dataset spans 3 months. This trip's start and end date only span 6 days also.