# SUMDs can provide alternative transportation and provide "last mile" access to public transit. How often are trips starting near public transit hubs? You can download a dataset of bus stop locations from https://data.nashville.gov/Transportation/Regional-Transportation-Authority-Bus-Stops/p886-fnbd.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text

In [2]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [ ]:
bus_stops = pd.read_csv('C:\Users\bswil\Documents\DDA9\Python\data/Traffic_Accidents__2019_.csv')

In [4]:
query = '''
SELECT companyname, COUNT(*)
FROM trips
GROUP BY companyname;
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

trips

     companyname   count
0           Bird  152745
1  Bolt Mobility   21890
2         Gotcha    3315
3           JUMP    6437
4           Lime  225694
5           Lyft  120991
6           SPIN   34450