In [1]:
from shapely.geometry import Point
import datetime
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from sqlalchemy import create_engine, text

In [2]:
database_name = 'scooters'
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [3]:
query = '''
    SELECT *
    FROM trips
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.157100,-86.803600,36.156600,-86.806700,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.157970,-86.778960,36.160540,-86.776890,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.154700,-86.781800,36.156500,-86.786800,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.149400,-86.779500,36.153100,-86.779600,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.177800,-86.786600,36.177400,-86.787600,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-08-01 04:53:48.000,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.20000,2019-07-31,23:47:43,2019-08-01,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[('36.154631', '-86.798341'), ('36.154631', '-...",2019-08-02 08:21:27.127
565518,2019-08-01 04:53:48.000,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.00000,2019-07-31,23:57:19,2019-08-01,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[('36.153016', '-86.783586'), ('36.153016', '-...",2019-08-02 08:21:26.773
565519,2019-08-01 04:53:48.000,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.00000,2019-07-31,23:41:52,2019-08-01,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[('36.153685', '-86.784578'), ('36.153685', '-...",2019-08-02 08:21:26.803
565520,2019-08-01 07:04:00.000,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.60000,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
565521,2019-08-01 07:04:00.000,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.60000,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [8]:
bus_stop = pd.read_csv('Regional_Transportation_Authority_Bus_Stops.csv')

bus_stop

,Stop ID Number,Stop Abbreviation,Stop Name,Bench,Shelter,Line Number,Line Name,Mapped Location
0,4418,MCC4_20,MUSIC CITY CENTRAL 4TH - BAY 20,False,True,94,CLARKSVILLE EXPRESS,"(36.166545, -86.781895)"
1,4422,MCC5_6,MUSIC CITY CENTRAL 5TH - BAY 6,True,True,94,CLARKSVILLE EXPRESS,"(36.166501, -86.781233)"
2,4249,21WE,21ST AVE PAST WEST END AVE SB,False,False,87,GALLATIN EXPRESS,"(36.149489, -86.800523)"
3,4184,MCSMJ,MUSIC CITY STAR MT. JULIET STATION,True,True,90,MUSIC CITY STAR,"(36.199912, -86.517904)"
4,4425,MCC5_8,MUSIC CITY CENTRAL 5TH - BAY 8,False,True,92,HENDERSONVILLE EXPRESS,"(36.166768, -86.781424)"
...,...,...,...,...,...,...,...,...
83,4185,MCSMS,MUSIC CITY STAR MARTHA'S STATION,True,True,90,MUSIC CITY STAR,"(36.229824, -86.425658)"
84,4430,MCC5_7,MUSIC CITY CENTRAL 5TH - BAY 7,True,True,88,DICKSON EXPRESS,"(36.166804, -86.781446)"
85,5053,DRCRPR,DRAKES CREEK PARK-N-RIDE,False,False,92,HENDERSONVILLE EXPRESS,"(36.312976, -86.611232)"
86,4249,21WE,21ST AVE PAST WEST END AVE SB,False,False,92,HENDERSONVILLE EXPRESS,"(36.149489, -86.800523)"
87,4431,MCC5_11,MUSIC CITY CENTRAL 5TH - BAY 11,False,True,95,SPRING HILL EXPRESS,"(36.16659, -86.781996)"

In [7]:
bus_stop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Stop ID Number     88 non-null     int64
 1   Stop Abbreviation  88 non-null     object
 2   Stop Name          88 non-null     object
 3   Bench              88 non-null     bool
 4   Shelter            88 non-null     bool
 5   Line Number        88 non-null     int64
 6   Line Name          88 non-null     object
 7   Mapped Location    88 non-null     object
dtypes: bool(2), int64(2), object(4)
memory usage: 4.4+ KB